<h1>login</h1>
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
<section class="container">
  <div class="wrapper">
    <div class="head"><h1>Log In</h1></div>
    <div class="bod">
      <form action="POST">
      <input style="height:25px; width:300px;" type="email" name="email" placeholder="Email">
      <input style="height:25px; width:300px;" type="password" name="password" placeholder="Password">
        
      <div class="signButton">
<input type="submit" value="Log in" class="submitButton"></div>
    </div>
    </form>
    <div class="foot">
        {{!-- <li class="sign"><a href="#">SIGN IN  WITH</a>          </li>
        <li><a href="#"><i class="fab fa-google fa-3x">         </i>
        </li>
        <li><a href="#"><i class="fab fa-twitter-square         fa-3x"></i>
        </li>
        <li><a href="#"><i class="fab fa-facebook-f fa-3x"></i>

</li> --}}
    </div>
  </div>
</section>