<h1>Profile Page</h1>

<h2>welcome {{#each userId}}{{local.email}}</h2>
{{/each}}
<h2>load image</h2>
{{#each photos}}
<div><img src="{{photos.path}}" class="img-fluid" alt="Responsive image">
</div>
{{/each}}
 <form action="/upload" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="photo" />
   <input type="submit" class="btn btn-primary" value="Upload Photo"/>
</form>