<section class="test-center">
  <div class="text-center">
    <h1 class="text-center">Create Album</h1>
    {{#each userId}}
    <span class="text-center" style="display:block">
      {{local.email}}
    </span>
  </div>
  {{/each}}
  <h2 class="text-center">load image</h2>
  <div class="text-center">
    <form action="/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="photo" />
      <input type="submit" class="btn btn-primary" value="Upload Photo" />
    </form>
  </div>
  {{#if photo}}
  <div class="text-center">
    <img class="text-center" src="{{this}}" class="img-fluid" alt="Responsive image">
  </div>
  {{/if}}
</section>